[data-component="stats-pill"] {
  display: inline-flex;
  position: relative;
  gap: 40px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color-black-russian);

  .pill-label {
    display: inline-flex;
    align-items: center;
    position: relative;

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 1px;
      height: calc(100% + 12px);
      right: -20px;
      background-color: var(--color-rock-blue);
    }
  }

  .pill-stat {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
